.NavMenuItem {
    list-style-type: none;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;

    background: none;
    border: none;
    color: white;
    font-family: 'Nunito';
    font-size: 24px;
    cursor: pointer;

    &:hover {
        background: rgb(0, 0, 66);
    }
}