.NavMenuItem {
    list-style-type: none;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;

    background: none;
    border: none;
    color: white;
    font-family: 'Oswald';
    font-size: 24px;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
        background: rgb(0, 0, 66);
    }

    img {
        filter: invert(1);
    }
}

.active {
    color: #ff00bf;

    img {
        filter: invert(91%) sepia(13%) saturate(4913%) hue-rotate(281deg) brightness(107%) contrast(104%);
    }
}

@media only screen and (min-width: 992px) {
    .NavMenuItem {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        justify-items: center;
        gap: 0;
        padding: 0;
        font-size: 20px;
        height: 100%;

        img {
            width: 32px;
        }
    }
}