// MOBILE //
.NavMenuItem {
    /* Positioning */
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;

    /* Typography */
    color: white;
    font-family: 'Oswald';
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;

    img {
        filter: invert(1);
    }

    &:hover {
        background: rgb(0, 0, 66);
    }
}

// LAPTOP & DESKTOP //
@media only screen and (min-width: 992px) {
    .NavMenuItem {
        /* Positioning */
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        gap: 0;
        padding: 5px;
        height: 100px;

        /* Typography */
        font-size: 20px;
        line-height: 20px;

        img {
            width: 32px;
        }
    }
}

.active {
    color: #ff00bf;

    img {
        filter: invert(91%) sepia(13%) saturate(4913%) hue-rotate(281deg) brightness(107%) contrast(104%);
    }
}