.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    > button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: none;
        border: none;
        color: white;
        font-family: 'Nunito';
        font-size: 32px;
        cursor: pointer;

        img {
            filter: invert(1);
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}