.RecipeItem {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    .altIngredient {
        display: flex;
        width: 100%;
        align-items: center;

        button {
            display: flex;

            &::after {
                display: inline-block;
                content: '';
                background-image: url('/images/ui/change_circle.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                width: 24px;
                height: 24px;
                filter: invert(1);
            }

            &:hover {
                &::after {
                    filter: invert(16%) sepia(67%) saturate(7116%) hue-rotate(307deg) brightness(106%) contrast(110%);
                }
            }
        }
    }

    .missingIngredient {
        display: flex;
        color: rgb(125, 125, 125);
        width: 100%;

        &::after {
            display: inline-block;
            content: '';
            background-image: url('/images/ui/cancel.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            width: 24px;
            height: 24px;
            filter: invert(15%) sepia(75%) saturate(5661%) hue-rotate(356deg) brightness(98%) contrast(121%);
        }
    }

    span {
        text-align: left;
        width: 100%;
    }

    .icon {
        display: inline-block;
        content: '';
        background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        width: 24px;
        height: 24px;
    }
}