.RecipeItem {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 100%;
    gap: 5px;

    .altIngredient {
        display: flex;
        justify-self: left;
        align-items: center;
        gap: 5px;
        width: 100%;

        button {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                filter: invert(1);
            }

            &:hover {
                img {
                    filter: invert(16%) sepia(67%) saturate(7116%) hue-rotate(307deg) brightness(106%) contrast(110%);
                }
            }
        }
    }

    .missingIngredient {
        display: flex;
        justify-self: left;
        align-items: center;
        gap: 5px;
        color: rgb(125, 125, 125);
        width: 100%;

        img {
            filter: invert(15%) sepia(75%) saturate(5661%) hue-rotate(356deg) brightness(98%) contrast(121%);
        }
    }

    span {
        justify-self: left;
        font-size: 20px;
        text-align: left;
        width: 100%;
    }

    img {
        justify-self: center;
    }
}