.RecipeItem {
    display: grid;
    grid-template-columns: 1fr 24px;
    align-items: center;
    width: 100%;
    gap: 5px;

    .altIngredient {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
            background: none;
            border: none;
            cursor: pointer;

            img {
                filter: invert(1);
            }
        }
    }

    span {
        justify-self: left;
        font-size: 20px;
        text-align: left;
    }

    img {
        justify-self: center;
    }
}