.background {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
        width: 300px;
        height: 600px;
        background: white;
        position: relative;
        z-index: 11;
    }
}