.ParentForm {
    width: 80%;
    
    fieldset {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        legend {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            justify-items: center;
            align-items: center;
            grid-gap: 10px;
            padding: 0px;
            text-transform: uppercase;
            line-height: 32px;
            font-size: 28px;

            span {
                max-width: 160px;
                text-align: center;
            }
        }

        .ingredientList {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 5px;
            width: 80%;
        }
    }
}