.PageCountCtrl {
    /* Positioning */
    display: flex;
    gap: 10px;

    button {
        /* Positioning */
        width: 24px;

        /* Typography */
        font-weight: 700;

        /* Visual */
        background: white;
        border-radius: 50%;

        &:hover {
            border: 2px solid black;
        }
    }

    .active {
        background: #ff00bf;
        color: white;
    }
}