.IngredientsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: auto;

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 2px solid white;
        border-radius: 10px;
        padding: 5px;
        background: none;
        cursor: pointer;
        max-width: 500px;

        h2 {
            color: white;
            font-family: 'Nunito';
            font-size: 48px;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 0 0 20px rgb(80, 80, 255);  
        }

        img {
            filter: invert(1);
        }

        button {
            background: none;
            border: none;
            cursor: pointer;

            &:hover {
                img {
                    filter: invert(19%) sepia(76%) saturate(6692%) hue-rotate(306deg) brightness(104%) contrast(114%);                }
            }
        }
    }

    .category {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;

        .categoryHeader {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media only screen and (min-width: 992px) {
    .IngredientsSection {
        header {
            max-width: 100%;

            h2 {
                font-size: 64px;
            }
        }
    }
}