.SearchInput {
    /* Positioning */
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    width: 90%;
    height: 50px;
    padding: 5px;

    /* Visual */
    background: white;

    input {
        background: none;
        border: none;
        height: 100%;
        font-size: 20px;
        width: 100%;

        &:focus {
            outline: none;
        }
    }
}

@media screen and (min-width: 992px) {
    .SearchInput {
        width: 33%;
    }
}