.IngredientCategoryButton {
    background: none;
    font-family: 'Oswald';
    border: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    overflow: hidden;
    border-radius: 5px;
    padding: 0 10px;

    span {
        line-height: 84px;
        height: 64px;
    }
}

.pink { 
    border-bottom: 3px solid pink;

    span {
        color: rgb(255, 215, 222);
        text-shadow: 0 0 20px rgb(100, 77, 81);
        font-size: 48px;
    }
}

.green {
    border-bottom: 3px solid rgb(47, 178, 47);

    span {
        color: rgb(61, 225, 110);
        text-shadow: 0 0 20px rgb(70, 138, 70);
        font-size: 48px;
    }
}

.red {
    border-bottom: 3px solid rgb(209, 59, 59);

    span {
        color: rgb(199, 19, 19);
        text-shadow: 0 0 20px rgb(114, 20, 20);
        font-size: 48px;
    }
}

.yellow {
    border-bottom: 3px solid rgb(221, 221, 34);    

    span {
        color: rgb(224, 224, 7);
        text-shadow: 0 0 20px rgb(178, 178, 43);
        font-size: 36px;
        line-height: 96px;
    }
}

.orange {
    border-bottom: 3px solid rgb(255, 166, 0);    

    span {
        color: rgb(255, 166, 0);
        text-shadow: 0 0 20px rgb(198, 139, 31);
        font-size: 48px;
    }
}

.blue {
    border-bottom: 3px solid rgb(37, 37, 255);    

    span {
        color: rgb(70, 70, 224);
        text-shadow: 0 0 20px rgb(13, 47, 58);
        font-size: 48px;
    }
}