.FormLegend {
    padding: 0 10px;
    
    button {
        background: none;
        border: none;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        span {
            color: white;
            font-size: 40px;
        }

        img {
            filter: invert(1);
        }
    }
}