.FormLegend {
    padding: 0 10px;
    
    button {
        display: flex;
        align-items: center;
        color: white;
        font-size: 40px;

        img {
            filter: invert(1);
        }
    }
}