.RecipeItem {
    display: grid;
    grid-template-columns: 1fr 24px;
    align-items: center;
    width: 100%;

    .altIngredient {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            filter: invert(1);
        }
    }

    span {
        justify-self: left;
        font-size: 20px;
    }

    img {
        justify-self: center;
    }
}