.IngredientsHeader {
    .selectAll {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        font-family: 'Oswald';
        font-size: 20px;
    }
}