.AddIngredientPage {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #020202;
    opacity: 0.8;
    background: linear-gradient(135deg, #0f0f0f55 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(225deg, #0f0f0f 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(315deg, #0f0f0f55 25%, transparent 25%) 0px 0/ 42px 42px, linear-gradient(45deg, #0f0f0f 25%, #020202 25%) 0px 0/ 42px 42px;
    font-family: 'Oswald';
    color: white;
    width: 100%;
    min-height: calc(100vh - 100px);
    margin-top: 100px;
    padding: 20px;
}