.Drink {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 120px 10px;
    background-color: #020202;
    opacity: 0.8;
    background: linear-gradient(135deg, #0f0f0f55 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(225deg, #0f0f0f 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(315deg, #0f0f0f55 25%, transparent 25%) 0px 0/ 42px 42px, linear-gradient(45deg, #0f0f0f 25%, #020202 25%) 0px 0/ 42px 42px;
    font-family: 'Oswald';
    color: white;
    min-height: 100vh;
    width: 100%;

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;

        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            ul {
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 90%;
            }

            article {
                font-size: 20px;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                gap: 10px;

                hr {
                    width: 50%;
                }
            }
        }
    }

    h1, h2, h3 {
        font-family: 'Nunito';
    }

    li {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .missing {
        color: rgb(125, 125, 125);

        img {
            filter: invert(1);
        }
    }
}