.DrinksPage {
    /* Textography */
    font-family: 'Oswald';

    .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    section {
        width: 100%;

        ul {
            display: grid;
            grid-template-columns: repeat(auto-fill, 250px);
            justify-content: center;
            gap: 20px;
        }
    }
}