.DrinkPage {
    /* Textography */
    font-family: 'Oswald';

    main {
        display: grid;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 20px;
        width: 100%;

        strong {
            grid-row: 1 / 2;
            color: rgb(220, 0, 0);
            font-size: 20px;
        }

        header {
            grid-row: 2 / 3;

            button {
                img {
                    transition: 0.125s;
                }
            }

            .unfavorited {
                img {
                    filter: invert(52%) sepia(0%) saturate(6%) hue-rotate(200deg) brightness(94%) contrast(98%);
                }

                &:hover {
                    img {
                        filter: invert(75%) sepia(35%) saturate(698%) hue-rotate(282deg) brightness(98%) contrast(107%);
                    }
                }
            }

            .unblocked {
                img {
                    filter: invert(52%) sepia(0%) saturate(6%) hue-rotate(200deg) brightness(94%) contrast(98%);
                }

                &:hover {
                    img {
                        filter: invert(31%) sepia(14%) saturate(6569%) hue-rotate(331deg) brightness(128%) contrast(111%);
                    }
                }
            }

            .favorited {
                img {
                    filter: invert(32%) sepia(74%) saturate(5818%) hue-rotate(299deg) brightness(92%) contrast(135%);
                }
            }

            .blocked {
                img {
                    filter: invert(11%) sepia(85%) saturate(5222%) hue-rotate(359deg) brightness(123%) contrast(124%);
                }
            }

            .drinkTitle {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                text-transform: uppercase;

                img {
                    filter: invert(1);
                }
            }
        }

        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            width: 90%;

            h2 {
                text-transform: uppercase;
            }
        }

        .ingredients {
            grid-row: 3 / 4;

            max-width: 320px;
            padding: 10px;
            background-color: #141414;
            background-image: linear-gradient(135deg, #060606 25%, transparent 25%), linear-gradient(225deg, #060606 25%, transparent 25%), linear-gradient(45deg, #060606 25%, transparent 25%), linear-gradient(315deg, #060606 25%, #141414 25%);
            background-position: 83px 0, 83px 0, 0 0, 0 0;
            background-size: 83px 83px;
            background-repeat: repeat;
            border: 1px solid rgb(215, 215, 215);
            border-radius: 20px;
            box-shadow: 0 0 20px rgb(0, 0, 30);

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            hr {
                width: 80%;
                margin: 0 auto;
                border-radius: 50%;
            }
        }

        .directions {
            grid-row: 4 / 5;

            ol {
                li {
                    font-size: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: flex-start;
                    text-align: left;

                    p {
                        display: list-item;
                    }

                    p::marker {
                        color: rgb(255, 0, 191);
                    }

                    hr {
                        width: 100%;
                        border-radius: 50%;
                    }
                }
            }
        }

        figure {
            grid-row: 5 / 6;

            img {
                border-radius: 20px;
            }
        }
    }

    h1,
    h2,
    h3 {
        font-family: 'Nunito';
    }

    li {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .missing {
        color: rgb(125, 125, 125);

        img {
            filter: invert(1);
        }
    }
}

@media only screen and (min-width: 992px) {
    .DrinkPage {
        main {
            grid-template-rows: repeat(4, auto);
            grid-template-columns: 1fr 1fr;

            strong {
                grid-row: 1 / 2;
                grid-column: 1 / -1;
            }

            header {
                grid-row: 2 / 3;
                grid-column: 1 / -1;
            }

            section {
                ul {
                    max-width: none;
                }
            }

            .ingredients {
                grid-row: 3 / 4;
                grid-column: 1 / 2;
                width: auto;
                max-width: none;
                padding: 20px;
            }

            .directions {
                grid-row: 4 / 5;
                grid-column: 1 / -1;
            }

            figure {
                grid-row: 3 / 4;
                grid-column: 2 / 3;
            }
        }
    }
}