.Drink {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 120px 10px;
    background-color: #020202;
    opacity: 0.8;
    background: linear-gradient(135deg, #0f0f0f55 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(225deg, #0f0f0f 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(315deg, #0f0f0f55 25%, transparent 25%) 0px 0/ 42px 42px, linear-gradient(45deg, #0f0f0f 25%, #020202 25%) 0px 0/ 42px 42px;
    font-family: 'Oswald';
    color: white;
    min-height: 100vh;
    width: 100%;

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;

        header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            button {
                background: none;
                border: none;
                cursor: pointer;

                img {
                    transition: 0.125s;
                }
            }

            .unfavorited {
                img {
                    filter: invert(52%) sepia(0%) saturate(6%) hue-rotate(200deg) brightness(94%) contrast(98%);
                }

                &:hover {
                    img {
                        filter: invert(75%) sepia(35%) saturate(698%) hue-rotate(282deg) brightness(98%) contrast(107%);
                    }
                }
            }

            .unblocked {
                img {
                    filter: invert(52%) sepia(0%) saturate(6%) hue-rotate(200deg) brightness(94%) contrast(98%);
                }

                &:hover {
                    img {
                        filter: invert(31%) sepia(14%) saturate(6569%) hue-rotate(331deg) brightness(128%) contrast(111%);
                    }
                }
            }

            .favorited {
                img {
                    filter: invert(32%) sepia(74%) saturate(5818%) hue-rotate(299deg) brightness(92%) contrast(135%);
                }
            }

            .blocked {
                img {
                    filter: invert(11%) sepia(85%) saturate(5222%) hue-rotate(359deg) brightness(123%) contrast(124%);
                }
            }
        }

        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            ul {
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 90%;
            }

            article {
                div {
                    font-size: 20px;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
    
                    hr {
                        width: 50%;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    h1, h2, h3 {
        font-family: 'Nunito';
    }

    li {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .missing {
        color: rgb(125, 125, 125);

        img {
            filter: invert(1);
        }
    }
}

@media only screen and (min-width: 768px) {
    .Drink {
        width: calc(100vw - 230px);
        position: relative;
        left: 230px;
        padding: 60px 10px;
    }
}

@media only screen and (min-width: 992px) {
    .Drink {
        width: 100vw;
        left: 0;
        padding: 180px 10px;
    }
}