@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Oswald');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

:root {
  --brandy: #DCB68A;
  --gin: #D8E4BC;
  --rum: #9D702E;
  --tequila: #F4D2AB;
  --clear: #BFC0EE;
  --whiskey: #BA6F1E;
  --almond: #EADDCA;
  --cherry: #D2042D;
  --chocolate: #7B3F00;
  --coffee: #6F4E37;
  --coconut: #965A3E;
  --irish: #EED192;
  --herbal: #FFBF00;
  --mint: #3EB489;
  --melon: #FEBAAD;
  --orange: #FFA500;
  --peach: #FFE5B4;
  --raspberry: #E30B5C;
  --sloe: #444065;
  --champagne: #F7E7CE;
  --drymouth: #FDFD96;
  --sweetmouth: #B11226;
  --cola: #3C3024;
  --ginger: #EFD079;
  --lemlime: #E3FF00;
  --cranberry: #D65589;
  --grapefruit: #FD5956;
  --lemon: #FAFA33;
  --lime: #32CD32;
  --pineapple: #FEEA63;
  --cream: #FFFDD0;
  --grenadine: #4C0B09;
  --vanilla: #F3E5AB;
  --absinthe: #76B583;
}

.app {
  /* Positioning */
  overflow: scroll;

  /* Visual */
  background-color: rgb(134, 131, 131);
  overflow: hidden;
}

.page {
  /* Positioning */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: calc(100vh - 100px);
  overflow: scroll;
  margin-top: 100px;
  padding: 50px 10px;

  /* Textography */
  text-align: center;
  color: white;

  /* Visual */
  background: linear-gradient(135deg, #0f0f0f55 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(225deg, #0f0f0f 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(315deg, #0f0f0f55 25%, transparent 25%) 0px 0/ 42px 42px, linear-gradient(45deg, #0f0f0f 25%, #020202 25%) 0px 0/ 42px 42px;
  opacity: 0.8;
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .page {
    /* Positioning */
    width: calc(100vw - 250px);
    left: 250px;
    margin-top: 0;
    padding: 75px 20px;
    position: relative;
    min-height: 100vh;

    /* Visual */
    background: linear-gradient(135deg, #0f0f0f55 25%, transparent 25%) -26px 0/ 52px 52px, linear-gradient(225deg, #0f0f0f 25%, transparent 25%) -26px 0/ 52px 52px, linear-gradient(315deg, #0f0f0f55 25%, transparent 25%) 0px 0/ 52px 52px, linear-gradient(45deg, #0f0f0f 25%, #020202 25%) 0px 0/ 52px 52px;
  }
}

@media only screen and (min-width: 992px) {
  .page {
    /* Positioning */
    width: 100vw;
    left: 0;
    margin-top: 100px;
    padding: 80px 30px;
    min-height: calc(100vh - 100px);

    /* Visual */
    background: linear-gradient(135deg, #0f0f0f55 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #0f0f0f 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #0f0f0f55 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #0f0f0f 25%, #020202 25%) 0px 0/ 80px 80px !important;
  }
}