@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Oswald');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --brandy: #DCB68A;
  --gin: #D8E4BC;
  --rum: #9D702E;
  --tequila: #F4D2AB;
  --clear: #BFC0EE;
  --whiskey: #BA6F1E;
  --almond: #EADDCA;
  --cherry: #D2042D;
  --chocolate: #7B3F00;
  --coffee: #6F4E37;
  --coconut: #965A3E;
  --irish: #EED192;
  --herbal: #FFBF00;
  --mint: #3EB489;
  --melon: #FEBAAD;
  --orange: #FFA500;
  --peach: #FFE5B4;
  --raspberry: #E30B5C;
  --sloe: #444065;
  --champagne: #F7E7CE;
  --drymouth: #FDFD96;
  --sweetmouth: #B11226;
  --cola: #3C3024;
  --ginger: #EFD079;
  --lemlime: #E3FF00;
  --cranberry: #D65589;
  --grapefruit: #FD5956;
  --lemon: #FAFA33;
  --lime: #32CD32;
  --pineapple: #FEEA63;
  --cream: #FFFDD0;
  --grenadine: #4C0B09;
  --vanilla: #F3E5AB;
  --absinthe: #76B583;
}

.app {
  background-color: rgb(134, 131, 131);
  overflow: scroll;
}

.page {
  background-color: #e5e5f7;
  opacity: 0.8;
  background: linear-gradient(135deg, #444cf755 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #444cf7 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
}