.HomePage {
    /* Positioning */
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: calc(100vh - 100px);
    text-align: center;
    overflow: scroll;
    margin-top: 100px;
    padding: 50px 10px;

    /* Visual */
    background: linear-gradient(135deg, #0f0f0f55 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(225deg, #0f0f0f 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(315deg, #0f0f0f55 25%, transparent 25%) 0px 0/ 42px 42px, linear-gradient(45deg, #0f0f0f 25%, #020202 25%) 0px 0/ 42px 42px;
    opacity: 0.8;

    /* Textography */
    font-family: 'Nunito';
    color: white;

    a {
        text-decoration: none;
    }

    > nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 600px) {
    .HomePage {
        width: calc(100vw - 250px);
        position: relative;
        left: 250px;
        margin-top: 0;
        padding: 75px 20px;
    }
}

@media only screen and (min-width: 992px) {
    .HomePage {
        width: 100vw;
        left: 0;
        margin-top: 100px;
        padding: 80px 30px;
    }
}