.IngredientsPage {
    padding: 150px 10px;
    background-color: #020202;
    opacity: 0.8;
    background: linear-gradient(135deg, #0f0f0f55 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(225deg, #0f0f0f 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(315deg, #0f0f0f55 25%, transparent 25%) 0px 0/ 42px 42px, linear-gradient(45deg, #0f0f0f 25%, #020202 25%) 0px 0/ 42px 42px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 20px;

    > section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: auto;

        .category {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: 2px solid white;
            border-radius: 10px;
            padding: 10px 10px;
            width: auto;

            img {
                filter: invert(1);
            }
        }

        h2 {
            color: white;
            font-family: 'Nunito';
            font-size: 48px;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 0 0 20px rgb(80, 80, 255);  
        }
    }
}

@media only screen and (min-width: 600px) {
    .IngredientsPage {
        width: calc(100vw - 250px);
        position: relative;
        left: 250px;
        padding: 75px 20px;
    }
}

@media only screen and (min-width: 992px) {
    .IngredientsPage {
        width: 100vw;
        left: 0;
        padding: 180px 20px;
    }
}