.LoginPage {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #020202;
    opacity: 0.8;
    background: linear-gradient(135deg, #0f0f0f55 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(225deg, #0f0f0f 25%, transparent 25%) -21px 0/ 42px 42px, linear-gradient(315deg, #0f0f0f55 25%, transparent 25%) 0px 0/ 42px 42px, linear-gradient(45deg, #0f0f0f 25%, #020202 25%) 0px 0/ 42px 42px;
    font-family: 'Oswald';
    color: white;
    width: 100%;
    min-height: calc(100vh - 100px);
    margin-top: 100px;
}

@media only screen and (min-width: 600px) {
    .LoginPage {
        width: calc(100vw - 250px);
        margin-top: 0px;
        margin-left: 250px;
        min-height: 100vh;
    }
}

@media only screen and (min-width: 992px) {
    .LoginPage {
        width: 100vw;
        padding: 180px 10px;
        margin-top: 120px;
        margin-left: 0px;
        min-height: calc(100vh - 120px);
    }
}