.PaginationLinks {
    display: flex;

    button {
        img {
            filter: invert(1);
        }
    }

    ul {
        /* Positioning */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        /* Typography */
        list-style-type: none;

        button {
            /* Positioning */
            width: 40px;
            height: 40px;

            /* Typography */
            font-family: 'Oswald';
            font-size: 24px;
            color: white;

            /* Visual */
            background: black;
            border-radius: 50%;
        }

        .activeBtn {
            color: black;
            background: white;

            span {
                transform: scale(1.2);
            }
        }
    }
}