.navmenu {
    background-color: black;
    color: white;
    font-family: 'Nunito';
    font-size: 32px;
    width: 220px;
    height: calc(100vh - 100px);
    position: absolute;
    overflow: scroll;
    transition: 0.5s;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        a {
            text-decoration: none;
            width: 100%;
        }
    }
}

.open {
    left: 0%;
}

.closed {
    left: -100%;
}

@keyframes navmenu-spawn {
    from {
        left: -100%;
    } to {
        left: 0%;
    }
}

@keyframes navmenu-despawn {
    from {
        left: 0%;
    } to {
        left: -100%;
    }
}