.IngredientField {
    /* Positioning */
    display: grid;
    grid-template-columns: 1fr 50px auto auto;
    gap: 5px;
    
    select {
        text-overflow: ellipsis;
    }

    input {
        text-overflow: ellipsis;
    }

    button {
        display: flex;

        img {
            filter: invert(1);
        }
    }
}