.IngredientField {
    /* Positioning */
    display: grid;
    grid-template-columns: 1fr 50px auto auto;
    gap: 5px;
    
    select {
        text-overflow: ellipsis;
    }

    input {
        text-overflow: ellipsis;
    }

    button {
        display: flex;

        &::after {
            display: inline-block;
            content: '';
            background-image: url('/images/ui/cancel.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            width: 24px;
            height: 24px;
            filter: invert(1);
        }
    }
}