.DrinkCard {
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;

    /* Typography */
    font-family: 'Oswald';

    /* Visual */
    background-color: #111111;
    background-image:  linear-gradient(135deg, #141414 25%, transparent 25%), linear-gradient(225deg, #141414 25%, transparent 25%), linear-gradient(45deg, #141414 25%, transparent 25%), linear-gradient(315deg, #141414 25%, #111111 25%);
    background-position:  24px 0, 24px 0, 0 0, 0 0;
    background-size: 48px 48px;
    background-repeat: repeat;
    border: 1px solid rgb(215,215,215);
    border-radius: 20px;
    box-shadow: 10px 10px 10px #000000;    
    transform: rotate3d(0, 0, 0, 0deg);

    .header {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        width: 100%;

        button {
            img {
                filter: invert(1);
            }

            &:hover {
                img {
                    filter: invert(16%) sepia(67%) saturate(7116%) hue-rotate(307deg) brightness(106%) contrast(110%);
                }
            }
        }

        img {
            filter: invert(1);
        }
    }

    .ingredients {
        /* Positioning */
        display: grid;
        grid-template-rows: repeat(auto-fill, 1fr);
        grid-template-columns: 1fr;
        gap: 5px;

        li {
            /* Positioning */
            display: grid;
            grid-template-columns: 150px auto;
            justify-items: center;

            /* Typography */
            font-size: 16px;
        }
    }

    .goBtn {
        /* Positioning */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Typography */
        font-family: 'Nunito';
        color: rgb(255, 215, 222);
        font-size: 24px;
        letter-spacing: 3px;
        text-shadow: 0 0 5px rgb(255, 0, 43);
        font-family: 'Oswald';

        /* Visual */
        transition: 0.125s;

        img {
            filter: invert(81%) sepia(16%) saturate(359%) hue-rotate(302deg) brightness(104%) contrast(102%) drop-shadow(0 0 5px rgb(255, 0, 43));
            transition: 0.125s;
        }

        &:hover {
            color: rgb(255, 0, 43);

            img {
                filter: invert(9%) sepia(82%) saturate(5950%) hue-rotate(344deg) brightness(134%) contrast(112%);
            }
        }
    }
}

.animating {
    animation: 0.5s card-flip linear forwards;
}

@keyframes card-flip {
    0% {
        transform: rotate3d(0, 0, 0, 0deg);
    } 50% {
        transform: rotate3d(0, 90, 0, 90deg);
    } 100% {
        transform: rotate3d(0, 0, 0, 0deg);
    }
}