.IngredientSection {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(auto-fit, 150px);
    justify-content: center;
    
    list-style-type: none;

    .Ingredient {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: auto;
        height: auto;
        text-align: center;
        color: white;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 64px;
        }

        .checkbox {
            position: relative;
            background: #fff;
            border: 0.25rem solid #363636;
            box-sizing: border-box;
            height: 50px;
            width: 50px;
            outline: 0;
            overflow: hidden;
            transform: perspective(10px) rotateX(-3deg);
        }

        .unchecked {
            content: "";
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;   

            &::before {
                content: "";
                position: absolute;
                bottom: -50%;
                left: -50%;
                height: 200%;
                width: 200%;
                box-sizing: border-box;
                background-color: #fff;
                border-radius: 40%;
                animation: spin 2.5s linear forwards;
            }

            &::after {
                content: url('../../../../public/images/ui/check_small.svg');
                height: 200px;
                width: 200px;
                display: flex;
                align-items: center;
                justify-content: center;   
                color: #4267B2;
                filter: invert(33%) sepia(89%) saturate(364%) hue-rotate(182deg) brightness(300%) contrast(300%);
            }
        }

        .checked {
            background: rgb(204,142,105);

            &::before {
                content: url('../../../../public/images/ui/check_small.svg');
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;   
                color: #4267B2;
                filter: invert(33%) sepia(89%) saturate(364%) hue-rotate(182deg) brightness(300%) contrast(300%);
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -50%;
                left: -50%;
                height: 200%;
                width: 200%;
                box-sizing: border-box;
                background-color: #fff;
                border-radius: 40%;
                animation: spin 2.5s linear forwards;
            }
        }
          
        @keyframes spin {
        0% {
            transform: translateY(0) rotate(0deg);
        }
        100% {
            transform: translateY(-100%) rotate(360deg);
        }
        }          
    }
}