.IngredientSection {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(auto-fit, 150px);
    justify-content: center;
    
    list-style-type: none;

    .Ingredient {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: auto;
        height: auto;
        text-align: center;
        color: white;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 64px;
        }         
    }
}