.IngredientsTitle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            color: rgb(255, 215, 222);
            font-family: 'Nunito';
            font-size: 40px;
            text-transform: uppercase;
            text-shadow: 0 0 10px rgb(255, 0, 43), -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; 
            animation-name: letter-flicker;
            animation-iteration-count: infinite;
            
            @keyframes letter-flicker {
                0% {
                    color: rgb(255, 215, 222);
                    text-shadow: 0 0 10px rgb(255, 0, 43), -0.5px -0.5px 0 white, 0.5px -0.5px 0 white, -0.5px 0.5px 0 white, 0.5px 0.5px 0 white; 
                } 100% {
                    color: rgb(235, 192, 200);
                    text-shadow: 0 0 10px rgb(255, 0, 43), -0.5px -0.5px 0 rgb(200, 200, 200), 0.5px -0.5px 0 rgb(200, 200, 200), -0.5px 0.5px 0 rgb(200, 200, 200), 0.5px 0.5px 0 rgb(200, 200, 200); 
                }
            }
        }
    }

    div:first-child {
        span:first-child {
            text-indent: 64px;
        }

        @for $i from 1 to 7 {
            span:nth-child(#{$i}) {
                animation-duration: random(4 + 2) + s;
                animation-delay: random(7 + 3) + s;
            }
        }
    }

    div:nth-child(2) {
        @for $i from 1 to 12 {
            span:nth-child(#{$i}) {
                animation-duration: random(4 + 2) + s;
                animation-delay: random(7 + 3) + s;
            }
        }
    }

    img {
        transform: rotate(45deg);
        position: absolute;
        top: 0px;
        left: 16px;
        filter: invert(83%) sepia(23%) saturate(402%) hue-rotate(305deg) brightness(103%) contrast(103%) drop-shadow(0 0 10px rgb(255, 0, 43));
        animation-name: img-flicker;
        animation-duration: random(4 + 2) + s;
        animation-iteration-count: infinite;
        animation-delay: random(7 + 3) + s;

        @keyframes img-flicker {
            0% {
                filter: invert(83%) sepia(23%) saturate(402%) hue-rotate(305deg) brightness(103%) contrast(103%) drop-shadow(0 0 10px rgb(255, 0, 43));
            } 100% {
                filter: invert(85%) sepia(9%) saturate(661%) hue-rotate(300deg) brightness(93%) contrast(99%) drop-shadow(0 0 10px rgb(40, 40, 128));
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .IngredientsTitle {
        div {
            span {
                font-size: 64px;
            }
        }

        img {
            transform: scale(1.5) rotate(45deg);
            top: 16px;
            left: 32px;
        }
    }
}