.LandingSection {
    /* Positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-height: calc(100vh - 100px);

    h1 {
        /* Positioning */
        padding: 5px;

        /* Typography */
        font-size: 32px;
        font-family: 'Nunito';
        text-shadow: 0 0 20px rgb(80, 80, 255);
        text-transform: uppercase;

        /* Visual */
        border-radius: 10px;
        animation: 1s title-spawn 0.125s forwards;
        opacity: 0%;
    }

    > nav {
        /* Positioning */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        /* Visual */
        animation: 0.5s content-spawn 1s forwards;
        opacity: 0%;

        .landingButtons {
            /* Positioning */
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        strong {
            /* Textography */
            font-size: 24px;
            color: rgb(255, 160, 231);
            font-family: 'Oswald';
        }
    
        .error {
            animation: error-spawn 1s forwards;
        }
    }
}

// @media only screen and (min-width: 992px) {
//     .LandingSection {
//         gap: 40px;
//         transform: scale(1.25);

//         h1 {
//             font-size: 64px;
//             border-radius: 20px;
//         }

//         .landingContent {
//             gap: 30px;

//             span {
//                 font-size: 32px;
//             }
            
//             .landingButtons {
//                 flex-direction: row;
//                 align-items: flex-end;
//                 gap: 20px;
//             }
//         }
//     }
// }

@keyframes title-spawn {
    0% {
        opacity: 0%;
        color: rgb(15, 15, 15);
        border: 2px solid rgb(15, 15, 15);
    } 20% {
        opacity: 100%;
        color: white;
        border: 2px solid white;
    } 40% {
        opacity: 100%;
        color: rgb(100, 100, 100);
        border: 2px solid rgb(100, 100, 100);
    } 100% {
        opacity: 100%;
        color: white;
        border: 2px solid white;
    }
}

@keyframes content-spawn {
    0% {
        opacity: 0%;
    } 100% {
        opacity: 100%;
    }
}

@keyframes error-spawn {
    0% {
        color: rgb(255, 160, 231);
    } 10% {
        color: rgb(255, 0, 191);
    } 20% {
        color: rgb(255, 160, 231);
    } 30% {
        color: rgb(255, 0, 191);
    } 40% {
        color: rgb(255, 160, 231);
    }
}