.LandingSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 100px);

    h1 {
        font-size: 32px;
        border: 2px solid white;
        border-radius: 10px;
        padding: 10px;
        font-family: 'Nunito';
        text-shadow: 0 0 20px rgb(80, 80, 255);
        text-transform: uppercase;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .randomBtn {
            width: 200px;
        }
    }

    strong {
        font-size: 24px;
        height: 24px;
        color: rgb(255, 160, 231);
        font-family: 'Oswald';
    }

    .error {
        animation: error-spawn 1s forwards;
    }
}