.DrinkResult {
    /* Positioning */
    display: grid;
    grid-template-columns: 1fr 48px 96px;
    justify-items: center;
    align-items: center;

    /* Typography */
    font-size: 20px;
    font-family: 'Oswald';

    span {
        grid-column: 1 / 2;
        justify-self: left;
    }

    .favorite {
        grid-column: 2 / 3;
        filter: invert(32%) sepia(74%) saturate(5818%) hue-rotate(299deg) brightness(92%) contrast(135%);
    }

    .preview {
        grid-column: 3 / 4;
        border: 1px solid white;
        border-radius: 5px;
    }
}