.SearchButton {
    &::after {
        display: inline-block;
        content: '';
        background-image: url('/images/ui/search.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        width: 40px;
        height: 40px;
    }
    
    &:hover {
        filter: none !important;

        &::after {
            filter: invert(16%) sepia(67%) saturate(7116%) hue-rotate(307deg) brightness(106%) contrast(110%);
        }
    }
}