.CloseButton {
    .icon {
        display: inline-block;
        content: '';
        background-image: url('/images/ui/close.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        width: 48px;
        height: 48px;
    }

    &:hover {
        filter: invert(0) !important;

        .icon {
            filter: invert(16%) sepia(67%) saturate(7116%) hue-rotate(307deg) brightness(106%) contrast(110%);
        }
    }
}