.DirectionField {
    /* Positioning */
    display: grid;
    grid-template-columns: 16px 1fr auto;
    gap: 5px;

    button {
        display: flex;

        img {
            filter: invert(1);
        }
    }
}