// MOBILE //
.NavMenu {
    /* Positioning */
    height: calc(100vh - 100px);
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 0;

    /* Typography */
    font-family: 'Nunito';
    font-size: 32px;

    /* Visual */
    background-color: black;
    transition: 0.5s;
    overflow-x: hidden;
    overflow-y: scroll;

    ul {
        display: flex;
        flex-direction: column;
    }
}

.open {
    left: 0%;
}

.closed {
    left: -100%;
}

// TABLET //
@media only screen and (min-width: 600px) {
    .NavMenu {
        width: 250px;
        transition: 0s;
    }
}