.NavMenu {
    background-color: black;
    color: white;
    font-family: 'Nunito';
    font-size: 32px;
    width: 230px;
    height: calc(100vh - 100px);
    position: fixed;
    overflow: scroll;
    transition: 0.5s;
    z-index: 1;
    top: 100px;
    left: 0;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        a {
            text-decoration: none;
            width: 100%;
        }
    }
}

.open {
    left: 0%;
}

.closed {
    left: -100%;
}

@media only screen and (min-width: 600px) {
    .NavMenu {
        transition: 0s;
    }
}