.IngredientForm {
    /* Positioning */
    display: flex;
    flex-direction: column;
    width: calc(100vw - 20px);
    max-height: 100px;
    overflow: hidden;

    /* Visual */
    transition: 0.5s;

    li {
        width: 90%;
    }

    .gradient {
        /* Positioning */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-bottom: 20px;
        overflow: hidden;

        /* Textography */
        list-style-type: none;

        /* Visual */
        transition: 0.5s;
    }

    .ingredientList {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}

.formOpen {
    max-height: 5000px;
}

.gradientOpen {
    height: auto;
    mask-image: none;
}

.gradientClosed {
    mask-image: linear-gradient(black, transparent);
}

@media only screen and (min-width: 600px) {
    .IngredientForm {
        width: calc(100vw - 250px - 20px);
    }
}

@media only screen and (min-width: 992px) {
    .IngredientForm {
        width: 60vw;
    }
}