.IngredientForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: auto;
    max-height: 100px;
    overflow: hidden;
    padding-top: 10px;
    transition: 0.5s;

    .gradient {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding-bottom: 20px;
        overflow: hidden;
        transition: 0.5s;
        list-style-type: none;
    
        .filter {
            display: grid;
            grid-template-columns: 140px 1fr auto;
            grid-template-rows: auto;
            justify-items: center;
            align-items: center;
            width: 100%;
            padding: 0 35px;
    
            label {
                justify-self: left;
                font-family: 'Oswald';
                font-size: 20px;
            }
    
            input {
                transform: scale(2);
            }
        }
    }

    .ingredientList {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, 50px);
    }
}

.formOpen {
    max-height: 2000px;
    padding-bottom: 20px;
}

.gradientOpen {
    height: auto;
    mask-image: none;
}

.gradientClosed {
    mask-image: linear-gradient(black, transparent);
}