.Footer {
    font-family: 'Nunito';
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

    > span {
        color: white;
    }

    a {
        color: rgb(255, 0, 191);

        &:hover {
            color: pink;
        }
    }
}