.IngredientFilter {
    /* Positioning */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    /* Typography */
    font-size: 20px;
    font-family: 'Oswald';

    label {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    div {
        /* Positioning */
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        align-items: center;
        gap: 15px;

        .icon {
            display: inline-block;
            content: '';
            background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            width: 48px;
            height: 48px;
        }

        input {
            transform: scale(2);
            cursor: pointer;
        }
    }
}