.background {
    /* Positioning */
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

    /* Visual */
    background: rgba(0, 0, 0, 0.8);
    animation: 0.15s background-spawn forwards;

    .modal {
        /* Positioning */
        width: 100%;
        max-height: 75vh;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 11;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 30px;

        /* Typography */
        color: white;

        /* Visual */
        background-color: #111111;
        background-image:  linear-gradient(135deg, #141414 25%, transparent 25%), linear-gradient(225deg, #141414 25%, transparent 25%), linear-gradient(45deg, #141414 25%, transparent 25%), linear-gradient(315deg, #141414 25%, #111111 25%);
        background-position:  24px 0, 24px 0, 0 0, 0 0;
        background-size: 48px 48px;
        background-repeat: repeat;
        animation: 0.5s modal-spawn forwards;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        overflow-x: hidden;
        overflow-y: scroll;

        .header {
            /* Positioning */
            display: grid;
            grid-template-columns: repeat(3, auto);
            align-items: center;
            grid-row: 1 / 2;
            grid-column: 1 / -1;
            gap: 20px;

            /* Typography */
            font-size: 36px;
            text-align: center;
        }

        .childList {
            /* Positioning */
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

        > button {
            position: absolute;
            top: 10px;
            right: 10px;
            filter: invert(1);
        }
    }

    @keyframes background-spawn {
        from {
            opacity: 0%;
        } to {
            opacity: 100%;
        }
    }

    @keyframes modal-spawn {
        from {
            bottom: -300px;
        } to {
            bottom: 0px;
        }
    }
}

@media only screen and (min-width: 600px) {
    .background {
        .modal {
            background-color: #111111;
            background-image:  linear-gradient(135deg, #141414 25%, transparent 25%), linear-gradient(225deg, #141414 25%, transparent 25%), linear-gradient(45deg, #141414 25%, transparent 25%), linear-gradient(315deg, #141414 25%, #111111 25%);
            background-position:  26px 0, 26px 0, 0 0, 0 0;
            background-size: 52px 52px;
            background-repeat: repeat;
        }
    }
}

@media only screen and (min-width: 992px) {
    .background {
        .modal {
            width: 75%;
            left: 50%;
            transform: translateX(-50%);
            background-color: #111111;
            background-image:  linear-gradient(135deg, #141414 25%, transparent 25%), linear-gradient(225deg, #141414 25%, transparent 25%), linear-gradient(45deg, #141414 25%, transparent 25%), linear-gradient(315deg, #141414 25%, #111111 25%);
            background-position:  40px 0, 40px 0, 0 0, 0 0;
            background-size: 80px 80px;
            background-repeat: repeat;
        }
    }
}