.SubCard {
    /* Positioning */
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;

    /* Visual */
    background: rgba(0, 0, 0, 0.8);
    animation: 0.15s background-spawn forwards;

    .content {
        /* Positioning */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        padding: 20px;
        min-width: 250px;
        overflow: scroll;

        /* Textography */
        color: white;
        font-family: 'Oswald';

        /* Visual */
        background: black;
        border: 1px solid white;
        border-radius: 10px;
        animation: 0.3s card-spawn forwards;
    
        button {
            position: absolute;
            top: 0;
            right: 0;
            filter: invert(1);

            &:hover {
                filter: invert(16%) sepia(67%) saturate(7116%) hue-rotate(307deg) brightness(106%) contrast(110%);
            }
        }
    
        strong {
            font-family: 'Nunito';
        }
    
        .ingredients {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 80%;
        }
    }

    @keyframes background-spawn {
        from {
            opacity: 0%;
        } to {
            opacity: 100%;
        }
    }

    @keyframes card-spawn {
        from {
            bottom: -300px;
            height: 100vh;
        } to {
            bottom: 0px;
            height: 300px;
        }
    }
}