.Ingredient {
    /* Positioning */
    display: flex;
    flex-direction: column;
    width: 130px;

    .info {
        /* Positioning */
        display: grid;
        grid-template-columns: 8px 1fr 50px;
        align-items: center;

        /* Typography */
        color: white;

        .children {
            grid-column: 1 / 2;
            filter: invert(1);
            object-fit: cover;
            width: 8px;
        }

        .icon {
            grid-column: 2 / 3;
        }

        span {
            grid-column: 1 / 4;
            grid-row: 2 / 3;
            font-family: 'Oswald';
            font-size: 18px;
        }
    }

    &:hover {
        .children {
            filter: invert(25%) sepia(97%) saturate(6249%) hue-rotate(306deg) brightness(104%) contrast(116%);
        }

        span {
            color: #ff00bf;
        }
    }
}