.ingCategory {
    background: none;
    border-radius: 10px;
    font-family: 'Nunito';
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    padding: 10px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 3px;
    width: 100vw;
    overflow: hidden;

    img {
        filter: drop-shadow(10px 10px 5px rgb(0, 0, 0));
    }
}

.pink {
    color: rgb(255, 215, 222);
    text-shadow: 0 0 20px rgb(100, 77, 81);
    border: 3px solid pink;
}

.green {
    color: green;
    text-shadow: 0 0 20px lightgreen;
    border: 3px solid darkgreen;
}

.red {
    color: red;
    text-shadow: 0 0 20px lightred;
    border: 3px solid darkred;
}

.yellow {
    color: yellow;
    text-shadow: 0 0 20px lightyellow;
    border: 3px solid rgb(156, 156, 0);
}

.orange {
    color: orange;
    text-shadow: 0 0 20px rgb(255, 183, 49);
    border: 3px solid rgb(153, 99, 0);
}

.blue {
    color: blue;
    text-shadow: 0 0 20px lightblue;
    border: 3px solid darkblue;
}