.RecipeItem {
    display: flex;
    width: 100%;

    .missing {
        color: rgb(125, 125, 125);
    }

    div {
        display: grid;
        grid-template-columns: 32px 1fr 64px;
        grid-template-rows: auto;
        width: 100%;
        justify-items: center;
        align-items: center;
    }
}